label{
    font-size: 20px;
    display: inline-block;
    margin: 0;
    line-height: 28px;
    height: 28px;
    vertical-align: top;
}

/*
flabel {
  margin-left: -1px;
}
*/

#floor_radios label {
  margin-left: 10px;
}

#floor_radios label + input {
    clear: both;
}

#pull-left {
  margin-left: -24px;
}
